In [2]:
import pandas as pd

### Задание №1 ###

In [2]:
data_movies = pd.read_csv(r"C:\Users\user\Downloads\ml-25m\ml-25m\movies.csv")
data_ratings = pd.read_csv(r"C:\Users\user\Downloads\ml-25m\ml-25m\ratings.csv")

In [131]:
data_merge = pd.merge(data_movies,data_ratings, how ='right', on = 'movieId' )

In [144]:
data_merge_filter = data_merge[data_merge.rating == 5.0]

In [161]:
df = data_merge_filter.groupby(['title'] ).aggregate({'rating' : 'count'}).sort_values(by = 'rating', ascending=False).head()

In [165]:
df['rating'].idxmax()

'Shawshank Redemption, The (1994)'

### Задание №2 ###

In [166]:
data_power = pd.read_csv(r"C:\Users\user\Downloads\10._Основы_pandas\power.csv")

In [182]:
df_filtered = data_power[ (data_power['country'] == 'Latvia') | (data_power['country'] == 'Lithuania')| (data_power['country'] == 'Estonia')]

In [184]:
df_filtered2 = df_filtered[ (df_filtered['category'] == 4) | (df_filtered['category'] == 12) | (df_filtered['category'] == 21)]

In [201]:
df_filtered3 = df_filtered2[ (df_filtered2['year'] >= 2005) & (df_filtered2['year'] <= 2010) & (df_filtered2['quantity'] >=0)]

In [203]:
df_filtered3.groupby(['country']).aggregate({'quantity' : 'sum'}).head()

           quantity
country
Estonia     63440.0
Latvia      54844.0
Lithuania  122296.0

### Задание №3 ###

In [3]:
df_list = pd.read_html('https://fortrader.org/quotes')

In [4]:
df_list[0]

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  99.14       3.05          3.17        NaN
1       USDRUB Курс рубля к доллару  90.43       2.38          2.71        NaN

In [5]:
df_list[2]

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0       Золото Цена золота на бирже  1 936       0.00          0.00        NaN
1  Серебро Цена на серебро на бирже  23.07       0.05          0.23        NaN
2         Палладий Цена на Палладий  1 247       0.00          0.00        NaN
3           Платина Цены на платину    917     -12.00         -1.00        NaN
4           Медь Цена меди на бирже   3.79       0.00          0.00        NaN

In [6]:
df_list[3]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,ВТБ Акции ВТБ,0.022470,+0.000110,+0.491950,NaN
1,Газпром Акции газпрома,166.33,+0.33,+0.20,NaN
2,Лукойл Акции Лукойл,5 437.5,+212.5,+4.1,NaN
3,Роснефть Акции Роснефти,482.35,+7.35,+1.55,NaN
4,Сбербанк Акции Сбербанка,243.56,+1.46,+0.60,NaN
5,Сургутнефтегаз Акции Сургутнефтегаза,28.125,+0.105,+0.375,NaN
6,Норникель Акции Норникель,15 078,+360,+2,NaN
7,Аэрофлот Акции Аерофлота,41.33,-0.52,-1.24,NaN
8,Северсталь Акции Северсталь,1 199.40,-3.20,-0.27,NaN
9,Транснефть Акции Транснефть,137 750,-600,0,NaN
10,Ростелеком Курс акций ростелекома,72.26,+0.94,+1.32,NaN
11,РУСАЛ Акции РУСАЛ (RUAL),41.140,+0.995,+2.479,NaN
12,Детский мир iDreamSky Technology Limited,71.36,-0.02,-0.03,NaN
13,Петропавловск Акции Петропавловск,1.21,0.00,0.00,NaN
14,Алроса Акции АЛРОСА (ALRS),72.180,+1.600,+2.267,NaN
15,Магнит Акции Магнит (MGNT),5 325.0,+33.5,+0.6,NaN
16,НМЛК Акции НЛМК (NLMK),181.340,+4.860,+2.754,NaN
17,М.видео Акции М.видео (MVID),191.10,-0.60,-0.31,NaN
18,"Газпром нефть Акции ""Газпром нефть"" (SIBN)",518.95,-8.05,-1.53,NaN
19,НМТП Акции НМТП (NMTP),9.1450,-0.2050,-2.1925,NaN
20,Полиметалл Акции Полиметалл (POLY),557.50,+13.40,+2.46,NaN
21,Полюс Золото Акции Полюс Золото (PLZL),10 713.0,-6.0,-0.1,NaN
22,НОВАТЭК Акции НОВАТЭК (NVTK),1 396.40,+82.00,+6.24,NaN
23,РусГидро Акции РусГидро (HYDR),0.8410,-0.0059,-0.6967,NaN
24,Татнефть Акции Татнефть (TATN),500.90,+6.70,+1.36,NaN
25,"АФК Система Акции АФК ""Система"" (AFKS)",17.327,-0.005,-0.029,NaN
26,МТС Акции МТС,296.50,+0.50,+0.17,NaN
27,Башнефть Акции Башнефть (BANE),1 851.5,-142.0,-7.1,NaN
28,Яндекс Акции Яндекс (YNDX),2 363.4,-14.8,-0.6,NaN
29,X5 Retail Group Акции X5 Retail Group (FIVE),1 528.50,+11.00,+0.72,NaN
30,ФСК ЕЭС Акции ФСК ЕЭС (FEES),0.10012,-0.00166,-1.63097,NaN
31,Мечел Акции Мечел (MTLR),187.17,+8.98,+5.04,NaN
32,МосБиржа Акции МосБиржа (MOEX),122.74,+0.92,+0.76,NaN
33,Интер РАО Акции Интер РАО (IRAO),3.97,-0.02,-0.61,NaN
34,"Mail.ru Акции Mail.ru (MAIL, ДР)",0.00,нет данных,нет данных,NaN
35,Киви Акции Киви (QIWI),628.0,-13.5,-2.1,NaN
36,"Лента Акции Лента (LNTA, ДР)",102.30,0.00,0.00,NaN
37,"Тинькофф Акции Тинькофф (TCSG, др)",3 217.00,+9.50,+0.30,NaN
38,TGKA.MM,0.008986,-0.000048,-0.531326,NaN
39,Озон Акции Озон (Ozon),1 963.50,+19.50,+1.00,NaN
40,Positive Technologies,1 964.60,-18.40,-0.93,NaN